target/
!.mvn/wrapper/maven-wrapper.jar
/help.md
.mtj.tmp/
*.class
*.log
*.ctxt
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
gen/

# Eclipse
.settings/
.project
.classpath
.factorypath

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Maven
.mvn/
mvnw
mvnw.cmd
