target/
!.mvn/wrapper/maven-wrapper.jar
/help.md
.mtj.tmp/
*.class
*.log
*.ctxt
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
.settings/
.project
.classpath
.factorypath
.idea/
*.iws
*.iml
*.ipr
.vscode/
bin/
out/
.DS_Store
.env
.mvn/
mvnw
mvnw.cmd
